* {
	border: none;
	font-size: 12px;
	font-family: "Noto Sans";
}

window#waybar {
	background: rgba(40,42,46,0.8);
	color: #C5C8C6;
}

.modules-left {
	margin-left: 8px;
}
.modules-right {
	margin-right: 8px;
}

#custom-menu, #workspaces, #window, #clock, #tray, #disk, #pulseaudio, #memory, #cpu, #network, #custom-updates, #custom-shutdown {
	margin: 0 3px;
}


#custom-menu {
	font-size: 14px;
}
#memory{
}
#battery.warning { color: orange; }
#battery.critical { color: red; }
#window{
}
#workspaces button {
	font-family: "Noto Sans";
	color: #C5C8C6;
	border-radius: 0;
	background-color: transparent;
}

#workspaces button:hover {
	background: rgba(255, 255, 255, 0.3);
}

#workspaces button.active {
	background-color: rgba(255,255,255,0.2);
}

#clock {
	font-family: "Noto Sans";
	font-size: 14px;
}
