* {
	border: none;
	font-size: 1rem;
	font-family: "Noto Sans";
}

window#waybar {
	background: rgba(40,42,46,0.8);
	color: #C5C8C6;
}

.modules-left {
	margin-left: .5rem;
}
.modules-right {
	margin-right: .5rem;
}

#custom-menu, #workspaces, #window, #clock, #tray, #disk, #pulseaudio, #memory, #cpu, #network, #custom-updates, #custom-shutdown {
	margin: 0 .2rem;
}


#custom-menu {
	font-size: 1.3rem;
}
#memory{
}
#battery.warning { color: orange; }
#battery.critical { color: red; }
#window{
	font-family: "Noto Sans";
}
#workspaces button {
	font-family: "Noto Sans";
	color: #C5C8C6;
	border-radius: 0;
	background-color: transparent;
}

#workspaces button:hover {
	background: rgba(255, 255, 255, 0.3);
}

#workspaces button.active {
	background-color: rgba(255,255,255,0.2);
	border-bottom: 2px solid #fff;
}

#clock {
	font-family: "Noto Sans";
	font-size: 1.1rem;
}
